<p id="notice"><%= notice %></p>

<style type="text/css">
  #profbox {
      background-color: #fafafa;
      border:1px solid #BFBFBF;
      box-shadow:2px 2px 3px #aaaaaa;
      /*height: 150px;*/
  }
  #profpic {
      width: 160px;
      height: 160px;
      border:1px solid #ffffff;

  }
</style>

<div class="container">
  <div class="row">

    <div class="large-1 columns">
      <p> </p>
    </div>
    <div class="large-10 columns">
      <div class="panel" id="profbox">
        <div class="row">
          <div class="large-4 columns">
            <img id="profpic" src="http://media-cache-ec4.pinimg.com/avatars/thechicbrulee-1352470503_600.jpg" alt="<%= @user.first %> <%= @user.last %>">

          </div>
          <div class="large-8 columns">
            <h1 style="text-align: left"><%= @user.first %> <%= @user.last %></h1>

            <b>Email:</b>
              <%= @user.email %>
            </p>
          </div>
        </div>



      </div>

    </div>
    <div class="large-1 columns">
      <p> </p>
    </div>

    </div>
  <div class="row">

    <div class="row">
      <% if @user.email == current_user.email %>
          <h2 style="margin-left: 10px">Your Posts</h2>
      <% else %>
          <h2 style="margin-left: 10px"><%= @user.first %>'s Posts</h2>
      <% end %>
    </div>
    <div class="row">

      <div class="large-6 columns">
        <a href="<%= new_post_path %>" class="radius button expand" style="color: #ffffff; ">New Post</a>
      </div>
      <div class="large-6 columns"></div>

    </div>

  <% if Post.find_all_by_user_id(@user.send(:id)).size < 1 %>
    <div class="panel2" style="height: 125px">
        <div class="row">
          <% if @user.email == current_user.email %>
              <br />
              <h4 style="margin-left: 10px">You have no posts yet!</h4>
              <h4 style="margin-left: 10px">Click 'New Post' above when you have a good GIF.</h4>
          <% else %>
              <br/>
              <h4 style="margin-left: 10px"><%= @user.first %> has made no posts yet.</h4>
          <% end %>
        </div>

    </div>
  <% else %>
  <% (Post.find_all_by_user_id(@user.send(:id))).reverse.each do |post| %>

  <br/>
    <div class="panel2">

      <div class="row">
        <h3 style="margin-left: 40px; font-size: 1.75em"><%= post.title %></h3>
      </div>
      <div class="row">
        <div class="large-9 columns">
          <img src="<%= post.image %>" alt="<%= post.title %>">
        </div>
        <div class="large-3 columns">

          <p><span style="font-weight: bold">Posted at:</span> <%= post.time %> </p>
          <br />
          <%= link_to 'Expand', post %>
          <br />
          <br />
          <% if post.user_email == current_user.email %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <br/>
              <br />
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <p style="margin-left: 40px"><%= post.description %></p>
      </div>


    </div>      <!-- end panel2 -->
    <% end %>


   <% end %>

    <%= link_to 'Back', :back %>

  </div>

</div>

