<style type="text/css">
  h2 {
      margin-left: 20px;
      font-size: 2.0em;
  }
  .panel2 {
      background-color: #f3f3f3;
  }
</style>

<div class="container">
    <div class="row">
        <div class="large-3 columns">
          <h2>The Feed</h2>
        </div>
        <div class="large-9 columns">
          <a href="<%= new_post_path %>" class="radius button" style="color: #ffffff; margin-left: 50px">New Post</a>
        </div>
      </div>
  <div class="row">

    <br />

<% @posts.each do |post| %>
        <br/>
    <div class="panel2">

        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><img src="<%= post.image %>" alt="<%= post.title %>"></td>
        <td><%= post.time %></td>
        <td><%= link_to post.user_name, post.user%></td>
        <td><%= link_to 'Expand', post %></td>
        <% if post.user_email == current_user.email %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
            <td><%= 'Edit' %></td>
            <td><%= 'Destroy' %></td>
        <% end %>
    </div>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>Time</th>
    <th>Posted by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.description %></td>
    <td><img src="<%= post.image %>" alt="<%= post.title %>"></td>
    <td><%= post.time %></td>
    <td><%= link_to post.user_name, post.user%></td>
    <td><%= link_to 'Expand', post %></td>
    <% if post.user_email == current_user.email %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
        <td><%= 'Edit' %></td>
        <td><%= 'Destroy' %></td>
    <% end %>
  </tr>
<% end %>
</table>


    </div>
</div>


