<!DOCTYPE html>
<html>
<head>

  <link href="stylesheets/custom.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/foundation.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/normalize.css" rel="stylesheet" type="text/css">

  <title>Footyfeed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<style>
    #toptitle {
        text-align: center;
        font-size: 2.0em;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
</style>

<div id="tippytop">
    <p id ="toptitle">FootyFeed</p>

    <% if user_signed_in? %>
        <li>
          <%= link_to 'Home', posts_path %> |
          <%= link_to 'My Profile', current_user %> |
          <%= link_to 'Edit info', edit_user_registration_path %> |
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
    <% end %>
</div>

<div id="content">


<%= yield %>

</div>

<footer>
    <hr />
    <div class="row">
      <div class="large-12 columns">
        <p>&copy; Copyright Nathan Fraenkel, CIS196. Spring 2013</p>
      </div>
  </div>
</footer>


<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function() {
        (function() {
            //settings
            var fadeSpeed = 200, fadeTo = 0.3, topDistance = 15;
            var topbarME = function() { $('#tippytop').fadeTo(fadeSpeed,1); }, topbarML = function() { $('#tippytop').fadeTo(fadeSpeed,fadeTo); };
            var inside = false;
            //do
            $(window).scroll(function() {
                position = $(window).scrollTop();
                if(position > topDistance && !inside) {
                    //add events
                    topbarML();
                    $('#tippytop').bind('mouseenter',topbarME);
                    $('#tippytop').bind('mouseleave',topbarML);
                    inside = true;
                }
                else if (position < topDistance){
                    topbarME();
                    $('#tippytop').unbind('mouseenter',topbarME);
                    $('#tippytop').unbind('mouseleave',topbarML);
                    inside = false;
                }
            });
        })();
    });
</script>



</body>
</html>
